<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/header.css">
</head>
<body>
<nav id="navbar" class="navbar">
  <a class="active" href="#navbar"> Home</a> 
  <a href="#"> Contact</a> 
  <a href="#"> Work</a> 
  <a href="#"> About</a>
  <a href="#welcome-section"> Welcome</a>
</nav>
<section id="welcome-section" class="welcome-section">
    <h1>Hi we are group four</h1>
    <p>We are student</p>
</section>
<section class="projects-section" id="projects" >
    <h1>Some of the projects</h1>
</section>
</body>
</html> 
